.cbp-nttrigger h3 {
  font-size: 30pt;
  color: #47a3da;
  font-family: Lato, Calibri, Arial, sans-serif;
  cursor: pointer;
  font-weight: 300;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.cbp-ntsubaccordion ul {
  font-size: 20pt;
  color: #47a3da;
  font-family: Lato, Calibri, Arial, sans-serif;
  text-align: left;
  list-style: none;
}

body {
  font-family: Arial;
}

body h3 {
  color: cornflowerblue;
}

body h3 div {
  padding: 30px;
}

p {
  color: slategrey;
}
