.spirits {
  float:left;
  width:15%;
  display:inline-block;
}

.beverages {
  float:left;
  width:15%;
  display:inline-block;
}

.liquors {
  float:left;
  width:15%;
  display:inline-block;
}

.mission {
  float:left;
  width:15%;
  display: inline-block;
}

.contact {
  float:left;
  width:15%;
  display:inline-block; 
}

a {
  background-color: lightskyblue;
  display: inline-block;
}
