body {
  background-color: #47a3da;
}

.cbp-mc-column {
  float: left;
  margin: auto;
  width: 33%;
}

.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select {
  font-family: Arial;
  font-style: italic;
  line-height: 1.5;
  font-size: 15pt;
  padding: 5px 10px;
  display: block;
  width: 80%;
  background: transparent;
}

/*.container > header nave a {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 30%;
  height: 2.5em;
}*/

/*span {
  color: #fff;
  text-align: center;
  text-indent: 30px;
}*/

.cbp-mc-form label {
  color: #fff;
  display: block;
  padding: 40px 5px 5px 2px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Arial;
}

/*.cbp-mc-form placeholder {
  color: #10689a;
}*/

.cbp-mc-form input {
  border: 3px solid #fff;
}

.cbp-mc-form input, .cbp-mc-form textarea {
  border: 3px solid #fff;
}*/

/*




.cbp-mc-form input.cbp-mc-submit {
  border: 3px solid #fff;
  background: #10689a;
  color: #fff;
  cursor: pointer;
}*/
