@media (max-width: 767px) {

  body {
    font-weight: 200;
    font-size: 80%;
    font-family: Arial;
  }

  h1 {
  font-size: 14pt;
  }

  .cbp_tmlabel {                     /*blue boxes*/  /*yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/*/
    background-color:  #47a3da;
    border-radius: 5px;
    margin: 50px;
    box-sizing: content-box;
    position: relative;
  }

  /* .cbp_tmlabel::after {
  	border-color: rgba(71, 163, 218, 0);
  	border-bottom-color: #47a3da;
  	border-width: 10px;
  	margin-left: -91px;
  }
*/
  time > span:nth-child(2) {        /*time specific styling*/
    font-size: 18pt;

  }

  p {
  font-size: 12pt;
  }
}
